<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>425270968391-16q59jcs5j6u7bj9p95sfts7ujddfpdp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425270968391-16q59jcs5j6u7bj9p95sfts7ujddfpdp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>425270968391-nqua7omt4mp24rs71bst9vutl829aks4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyALjYyXHehk79mVE-rH5TLbsx6y1Z_02-o</string>
	<key>GCM_SENDER_ID</key>
	<string>425270968391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kashfly.kashFly</string>
	<key>PROJECT_ID</key>
	<string>kashfly-48eaa</string>
	<key>STORAGE_BUCKET</key>
	<string>kashfly-48eaa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425270968391:ios:8cd7007c970bcf1cb5b162</string>
	<key>DATABASE_URL</key>
	<string>https://kashfly-48eaa.firebaseio.com</string>
</dict>
</plist>